/* *** modifiche ed aggiunte da apportare a tailwind *** */
/* questo file viene importato da tailwind.css, che si trova nel root del progetto */

body.landing-home{
	.landing-body{
		h1,h2{
			@apply text-white font-serif uppercase text-4xl mb-7 mt-12;
		};
		p{
			@apply mb-3;
		}

	}

}

#credits p.credits{
	bottom: 2rem;
	padding-top: 17.3rem;

}