/* *** modifiche ed aggiunte da apportare a tailwind *** */
/* questo file viene importato da tailwind.css, che si trova nel root del progetto */

body.landing-home{
	.landing-body{
		h1,h2{
			@apply text-white font-serif uppercase text-4xl mb-4 mt-12 lg:mt-14 leading-snug1 lg:leading-12;
			letter-spacing: 0.045rem;
		};
		p{
			@apply mb-3 leading-snug tracking-wide;
		}

	}

}

#credits p.credits{
	bottom: 2rem;
	padding-top: 17.3rem;

}